@page "/Category/List"

@inject CategoryService Service

<h1>Categories</h1>

<a href="Category/Add" class="btn btn-primary">
    <span class="oi oi-plus"></span> &nbsp;
 Add New category</a>

<div class="mt-2"></div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Tasks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in categories)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.Name</td>
                <td>
                    <a href="Category/Details/@item.CategoryId"><span class="oi oi-list"></span></a> &nbsp;
                    <a href="Category/Update/@item.CategoryId"><span class="oi oi-pencil"></span></a> &nbsp;
                    <a href="Category/Delete/@item.CategoryId"><span class="oi oi-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    List<Category> categories = new List<Category>();

    protected override void OnInitialized()
    {
        categories = Service.GetCategories();
    }
}